<!--<div class="create-new-developer">-->
<div class="panel panel-info create-new-developer">
  <div class="panel-heading"> New developer</div>
  <div class="panel-body">
  <%= render 'form' %>
    </div>
</div>