<table class="table table-striped">
  <thead>
  <tr>
    <th>Admin Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tbody>
  <% @admins.each do |admin| %>

      <tr>
        <td><%= admin.email %> </td>
        <td><%= admin.name %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="pagination_table">
  <%= will_paginate @admins, renderer: BootstrapPagination::Rails, :param_name => 'admin_pagination', :params => { :tab_name => "admins_list" } %>
</div>