<h1>Editing Project </h1>

<%= render 'form' %>

<%= link_to 'Show', project_project_time_sheet_path(id: @project_time_sheet.id, project_id: @project_time_sheet.project_id) %> |
<%= link_to 'Back', project_project_time_sheets_path(project_id: @project.id) %>
