<h3>Team Activity for project <b><%= @project.name %></b></h3>
<br/>

<div class="bs-example">
    <div class="tab-content">

        <div id="current-dev-list" class="col-md-4">
          <h4><b>Current Developer List</b></h4>
          <%= render partial: "current_developer_list" %>
        </div>
        <div id="assignment-activity" class="col-md-8">
          <h4><b>Assignment Activities</b></h4>
          <%= render partial: "assignment_activites" %>
        </div>

    </div>
</div>


