<ul class="pagination pagination-sm">

  <li class="disabled"><a>Per page</a></li>

  <% GlobalConstants::RESULTS_PER_PAGE.collect do |option| %>
      <li><a href="#" onclick="window.location='?per_page='+'<%= option %>'" ><%= option %></a></li>
  <% end %>

</ul>
